s*{
  outline-style: dotted;
  outline-color: red;
  outline-width: 2px;
}
body {
    background-color: black;
}
.wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.post{
    margin-top: 100px;
    background-color: white;
    width: 500px;
    height: 600px;
}
.info{
    margin: 0px;
    width: 100%;
    height: 10%;
    display: flex;
    padding-left: 10px;
}
.nombre{
    margin-top: 10px;
}
.icon-html{
    padding-top: 15px;
    font-size: 30px;
}

.icono-puntos{
    margin-left: auto;
    margin-right: 20px;
    padding-top: 15px;
    font-size: 30px;
}
.icono-puntos:hover{
    color: gray;
}
.photo{
    height: 60%;
    width: 100%;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bottom{
    height: 30%;
    width: 100%;
}
.icons{
    position: relative;
    display: flex;
    height: 30%;
    width: 100%;
    padding-left: 10px;
}
.icon-heart{
    font-size: 30px;
    padding-top: 10px;
    position: absolute;
}
.icon-heart-hidden{
    position: absolute;
    color: transparent;
    font-size: 30px;
    padding-top: 10px;
}
.icon-heart-hidden:hover{
    color: red;
}
.icon-heart:hover{
    color: red;
}
.icon-comment{
    font-size: 30px;
    padding-top: 10px;
    position: absolute;
    margin-left: 40px;
}
.icon-comment:hover{
    color: gray;
}
.icon-send{
    font-size: 30px;
    padding-top: 10px;
    position: absolute;
    margin-left: 80px;
}
.icon-send:hover{
    color: gray;
}
.icon-bookmark{
    font-size: 30px;
    padding-top: 10px;
    margin-left: 430px;
    margin-right: 20px;
    position: absolute;
}
.icon-bookmark-hidden{
    font-size: 30px;
    padding-top: 10px;
    margin-left: 430px;
    margin-right: 20px;
    position: absolute;
    color: transparent;
}
.icon-bookmark-hidden:hover{
    color: red;
}
.texto{
    height: 70%;
    width: 100%;
    margin-top: -10px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.likes{
    margin-top: 15px;
}
.content{
    margin-top: -5px;
    margin-bottom: 10px;
    margin-right: 20px;
    overflow: hidden;

}